<div class="mainNavBox">
        <div class="itemBox">


                <div class='mainLogoBox'>
                        <div class='logoBox'><a ui-sref="home" id='scrollHome'><img class="logoImg" src="./src/img/reVampTrans.png" ></a></div>
                </div>


                <div class='linkListBox'>
                        <div class='navList'><a ui-sref="home">Home</a></div>
                        <div class='navList'><a ui-sref="projects">Projects</a></div>
                        <div class='navList'> <a ui-sref="managers"> Managers</a></div>
                        <!-- <div class='navList'> <a ui-sref="myBids"> My-Bids </a></div> -->
                        <div class='navList'> <a ui-sref="contractors"> Contractors</a></div>
                        <!-- <div class='navList'> <a ui-sref="myProjects"> My-Projects </a></div> -->
                        <div class='navList' class='log'><a ui-sref="myProfile">My-Profile</a></div>
                        <!-- <div class='navList' class='log'><a ui-sref="login">Login/Signup</a></div> -->
                        <button class='contactUsButton subbutton homeButton learnMoreRight' ui-sref="login">LogIn</button>
                </div>


        </div>
</div>