<div class="mainNavBox">
        <div class="itemBox">

                <!-- <div class='mainLogoBox'><div class='logoBox'><img src="./src/img/reVampTrans.png"></div></div> -->
                <div class='navList' ><a ui-sref="home">Home</a></div>
                <div class='navList'><a ui-sref="projects">Projects List</a></div>
                <div class='navList'> <a ui-sref="myBids" > My-Bids </a></div>
                <div class='navList'> <a ui-sref="myProjects" > My-Projects </a></div>
                <div class='navList' class='log' ><a ui-sref="login">Login</a></div>

            
    
        </div>
</div>