<div class='mainFooterBox'>
        <div class='footerGroup'>
            <div class='mainLogoBox'><div class='logoBox'><a ui-sref="home"><img class="logoImg" src="./src/img/reVampTrans.png" ></a></div></div>
                <div class='numberFooter'>
                    <div><a href="https://www.linkedin.com/in/russell-wright-34356099/" target="_blank" >Russell Wright</a></div>
                    <div>Silsbee, Tx 77656</div>
                    <div><span class='left number'>(409) 673-2022</span></div>
                    <div class='copyRight'>2017 reVamp</div>
                </div>
            <!-- <button class='contactUsButton subbutton homeButton learnMoreRight ' >Contact Us</button> -->
            <button class='homeButton2 learnMore subbutton homeButton' >Subscribe</button>
        </div>            
</div >