<form >

    <div>
            <label for="username">Username</label>
                <input type="text" name="username" ng-model="username" required>
                    <div>
                        <div>
                            Please enter a username.
                        </div>
                    </div>
               
            <label for="password">Password</label>
                 <input type="password" name="password" ng-model="password" required>
                    
               
                 <button type="submit" class="" ng-click="register()" >SUBMIT</button>
            
        
    </div>
</form>