<div class="mainTitle">
        <div class='bigTitle'>
            <h1>CONTRACTORS</h1>
        </div>
    
    
            <div class='spanBox'>
                <div class='orangeSpan'>
                    <span class='orangeBar'></span>
                </div>
            </div>
    
        <div class='paraMain'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Vestibulum maximus at arcu vitae pellentesque. Proin scelerisque molestie justo.</p>
        </div>
    
        <div class='paraMain'>
            <p>Sed euismod ornare lorem ac egestas. Etiam in congue ante.
                 Fusce egestas vestibulum urna, sit amet finibus. Quisque vulputate pellentesque quam ac tristique.</p>
        </div>
    
    </div>
    
    
    <div class="managerButtonBox homeButtonBox"> <button class='homeButton' ui-sref="projects">Place a Bid</button></div>
    
    
    <div class='mainHomeImgBox'>
        <div class='cabImgBox'>
            <img class='cabImg' src="./src/img/houston2.jpg" alt="">
            
        </div>
    </div>