<div class='singleProjectMainBox'>
    


    <div class='singleProjectTitleBox'>
        
        <div class='singleProjectCompanyName'>
            {{bids.com_name}}
            {{bids.bid}}
            
        </div>
    </div>

<div class='singleProjectBigTopBox'>    

    <div class="mainImgDivBox">
        <div class="singleImgBox">
                <div class="imgbox">
                    1
                </div>
        </div>
        <div class="singleImgBox">
                <div class="imgbox">
                    2
                </div>
        </div>
        <div class="singleImgBox">
                <div class="imgbox">
                    3
                </div>
        </div>
        <div class="singleImgBox">
                <div class="imgbox">
                    4
                </div>
        </div>

    </div>

    <div class='mainInfoDivBox'>
        <div class='test'>
            BIDS
        </div>
    </div>
</div>    


    <div class='secondInfoBox'>
        <div class='test'>
            2nd BID info box
        </div>
    </div>



    <div class='mainLongDescBox'>
        <div class='test longDescBox'>
           BID Description Box
        </div>

        <div>
            <br>
        </div>
    </div>    



    <div class="mainInputBidBox">
        <div>
               <button type="submit" class="deleteBidButton" ng-click="deleteBid(bids)" ui-sref="myBids">Delete Bid</button>
         </div>
    </div>

</div>    