<div class="wholeMainBox">
        
            <div class="mainTitle">
                <div class='bigTitle'>
                    <h1>ALIQUAM LOBORTIS VELIT DOLOR, ALIQUAM BIBENDUM</h1>
                </div>
        
                <div class='spanBox'>
                    <div class='orangeSpan'>
                        <span class='orangeBar'></span>
                    </div>
                </div>
        
                <div class='paraMain'>
                    <p>Phasellus consectetur id eros in aliquam. Nunc eu rutrum lectus, a hendrerit ex. 
                        Phasellus bibendum tortor semper augue pellentesque. Suspendisse nec diam tortor. Etiam ultricies, erat id euismod dictum.</p>
                </div>
        

                <div class="homeButtonBox"> <button class='homeButton' ui-sref="myProjects">My Projects</button><button class='homeButton homebidbutton' ui-sref="myBids">My Bids</button></div>


                <div class='paraMain'>
                    <p>In volutpat, est ut accumsan rutrum, sapien mi efficitur ipsum, eget pellentesque metus augue ut felis. Fusce eget pharetra tellus. Proin tempus justo vitae nisi malesuada molestie. 
                        Suspendisse mollis ullamcorper laoreet. Vestibulum sit amet laoreet urna, ac semper tortor.</p>
                </div>
        
            </div>
        
            
            <div> <div class="homeButtonBox"> <button class='homeButton' ui-sref="addProject">List a Project</button><button class='homeButton homebidbutton' ui-sref="projects">Place a Bid</button></div></div>
        
        
            <div class='mainHomeImgBox'>
                <div class='cabImgBox'>
                    <img class='cabImg' src="./src/img/houston3.jpg" alt="">
                    <!-- <img  class='cabImg' src="./src/img/Houston-skyline-1.jpg" alt=""> -->
                </div>
            </div>