<div class='singleProjectMainBox'>


    <div class='singleProjectTitleBox'>

        <div class='singleProjectCompanyName'>
            {{proj.com_name}}
            <br> {{proj.projectid}}

        </div>
    </div>

    <div class='singleProjectBigTopBox'>

        <div class="mainImgDivBox">
            <div class="singleImgBox">
                <div class="imgbox">
                    1
                </div>
            </div>
            <div class="singleImgBox">
                <div class="imgbox">
                    2
                </div>
            </div>
            <div class="singleImgBox">
                <div class="imgbox">
                    3
                </div>
            </div>
            <div class="singleImgBox">
                <div class="imgbox">
                    4
                </div>
            </div>

        </div>

        <div class='mainInfoDivBox'>
            <div class='test'>
                hello
            </div>
        </div>
    </div>


    <div class='secondInfoBox'>
        <div class='test'>
            2nd info box
        </div>
    </div>



    <div class='mainLongDescBox'>
        <div class='test longDescBox'>
            Description Box
        </div>

        <div>
            <br>
        </div>
    </div>

    <div class='projectDeleteBox'>
        <div>
            <a href="" class="deleteBidButton" ng-click="deleteProject(project)">Delete</a>
        </div>
    </div>

    <hr>


    <div class='myProjectBidTitleBox'>
        <div class='bidTitleBox'>
            Bids for Project:{{proj.projectid}}
        </div>
    </div>

    <hr>




    <div ng-repeat="projectbids in myProjectBids" class='mainViewProjects'>
        <a ui-sref="singleBid({id:projectbids.bidid})">
           Company Name: {{projectbids.company_name}} --- Bid Amount: {{projectbids.bid}} <br>
           ProjectId: {{projectbids.projectid}}
           <div> <br> </div>
        </a>
        <hr>
    </div>



</div>