<div class='singleProjectMainBox'>


    <div class='singleProjectTitleBox'>

        <div class='singleProjectCompanyName'>
            {{proj.com_name}} - {{proj.projectid}}

        </div>
    </div>

    <div class='singleProjectBigTopBox'>

        <div class="centerCenter mainImgDivBox">

            
                <div class='topAddImgBox'>
                    <img ng-src="{{proj.image_url}}" class='cabImg'>
                </div>
            


        </div>

        <div class='mainInfoDivBox'>
            <div class='secondInfoBox'>
                <div class='addTitle'>
                    Project Info
                </div>
                <div class='contactName'><span class='contactFirstName'>Main Project: <img class="hammerIcon" ng-src='./src/img/hammer_icon.png'/>{{proj.main_proj}}</span> Budget: <img class="hammerIcon" ng-src='./src/img/moneypng.png'/>{{proj.budget}}</div>

                <div class='contactName'><span class='contactFirstName'>Type: {{proj.type}}</span> Number of Units: <img class="hammerIcon" ng-src='./src/img/key2.png'/>{{proj.units}}</div>

                <div>Short Description: {{proj.short_desc}}</div>

            </div>
        </div>
    </div>




    <div class='mainLongDescBox'>
            <div class='longDescBox'>
                    Long Description: {{proj.long_desc}}
             </div>
     

        <div>
            <br>
        </div>
    </div>



    <hr>


    <div class='myProjectBidTitleBox'>
        <div class='bidTitleBox'>
            Bids for Project:{{proj.projectid}}
        </div>
    </div>

    <hr>




    <div ng-repeat="projectbids in myProjectBids" class='sideMargin mainViewProjects'>
        <a ui-sref="singleBid({id:projectbids.bidid})">
            <div class="centerCenter bidTitleText">{{projectbids.company_name}}</div>
           Bid Alias: <img class="hammerIcon" ng-src='./src/img/hammer_icon.png'/> {{projectbids.bidname}} --- Bid Amount: <img class="hammerIcon" ng-src='./src/img/moneypng.png'/>{{projectbids.bid}} <br>
           <div> <span class="bidTitleText">{{projectbids.name}}</span> --- Email: <img class="hammerIcon" ng-src='./src/img/email.jpg'/> {{projectbids.email}}</div>
           
           <div> <br> </div>
        </a>
        <hr>
    </div>



    <div class='projectDeleteBox'>
        <div>
            <!-- <a href="" class="deleteBidButton" ng-click="deleteProject(project)">Delete</a> -->
            <button type="submit" class="deleteBidButton" ng-click="deleteProject(proj)" ui-sref="myProjects">Delete Project</button>
        </div>
    </div>

    <!-- <button type="submit" class="deleteBidButton" ng-click="deleteBids(proj.projectid)" ui-sref="">Delete All Bids</button> -->

</div>