<div class='singleProjectMainBox'>


    <div class='singleProjectTitleBox'>

        <div class='singleProjectCompanyName'>
            {{proj.com_name}} - {{proj.projectid}}

        </div>
    </div>

    <div class='singleProjectBigTopBox'>

        <div class="centerCenter mainImgDivBox">

            
                <div class='topAddImgBox'>
                    <img ng-src="{{proj.image_url}}" class='cabImg'>
                </div>
            


        </div>

        <div class='mainInfoDivBox'>
            <div class='secondInfoBox'>
                <div class='addTitle'>
                    Project Info
                </div>
                <div class='contactName'><span class='contactFirstName'>Main Project: {{proj.main_proj}}</span> Budget: {{proj.budget}}</div>

                <div class='contactName'><span class='contactFirstName'>Type: {{proj.type}}</span> Number of Units:{{proj.units}}</div>

                <div>Short Description: {{proj.short_desc}}</div>

            </div>
        </div>
    </div>




    <div class='mainLongDescBox'>
            <div class='longDescBox'>
                    Long Description: {{proj.long_desc}}
             </div>
     

        <div>
            <br>
        </div>
    </div>



    <hr>


    <div class='myProjectBidTitleBox'>
        <div class='bidTitleBox'>
            Bids for Project:{{proj.projectid}}
        </div>
    </div>

    <hr>




    <div ng-repeat="projectbids in myProjectBids" class='mainViewProjects'>
        <a ui-sref="singleBid({id:projectbids.bidid})">
           Company Name: {{projectbids.company_name}} --- Bid Amount: {{projectbids.bid}} <br>
           ProjectId: {{projectbids.projectid}}
           <div> <br> </div>
        </a>
        <hr>
    </div>



    <div class='projectDeleteBox'>
        <div>
            <!-- <a href="" class="deleteBidButton" ng-click="deleteProject(project)">Delete</a> -->
            <button type="submit" class="deleteBidButton" ng-click="deleteProject(proj)" ui-sref="myProjects">Delete Project</button>
        </div>
    </div>

    <!-- <button type="submit" class="deleteBidButton" ng-click="deleteBids(proj.projectid)" ui-sref="">Delete All Bids</button> -->

</div>