
<div class='mainAddProjectBox'>


    <div class='singleProjectTitleBox'>

        <div class='addTitle '>
            <div>Add Your New Project</div>
        </div>
    </div>

    <div class='singleProjectBigTopBox'>

        <div class="mainImgDivBox">
            <div class="placeHolderImg">
                <div class='topAddImgBox'>
                    <img style="height: 300px" ngf-thumbnail="image" class="cabImg">
                </div>
            </div>
            <div class='bottomAddImgBox'>
                <form name="form">
                    
                    <div> One Picture Required </div>
                    <button name="image" ngf-select ng-model="image" class='sideMargin5 contactUsButton subbutton homeButton learnMoreRight'>Upload image*</button>
                    <!-- <button ng-click="submit(image)">Submit</button> -->
                </form>
            </div>
        </div>

        <div class='addBackgroundColor mainInfoDivBox'>
            <div class='addTopMargin2 contactUsBox addSubmit'>
                Company Info
            </div>
            <div class='addTopMargin namesBox'>
                <div class='contactName'><span class='contactFirstName'><input class='addProjAll name inputPadding' type="text" placeholder="First Name*" ng-model="Proj.first_name" required></span>
                    <input class='addProjAll name inputPadding' type="text" placeholder="Last Name*" ng-model="Proj.last_name" required></div>

            </div>

            <div><input class='addProjAll addProjectEmail contactEmail inputPadding' type="text" placeholder="Email*" ng-model="Proj.email" required></div>

            <div><input class='addProjAll addProjectEmail contactEmail inputPadding' type="text" placeholder="Company Name*" ng-model="Proj.com_name" required></div>



            <div><input class='addProjAll addTopMargin addProjectEmail contactEmail inputPadding' type="text" placeholder="Project Address*" ng-model="Proj.proj_address" required></div>

            <div class='namesBox'>

                <div class='contactName'>
                        <input class='addProjAll name inputPadding' type="text" placeholder="City*" ng-model="Proj.city" required>
                    <span class='contactFirstName'><input class='addProjAll name inputPadding' type="text" placeholder="Tx*" ng-model="Proj.state" required></span>
                    <input class='addProjAll name inputPadding' type="text" placeholder="Zip Code*" ng-model="Proj.zip" required></div>

            </div>


        </div>
    </div>


    <div class='secondInfoBox'>
        <div class='addTitle'>
            Project Info
        </div>
        <div class='contactName'><span class='contactFirstName'><input class='addProjAll addProjectShortArea name inputPadding' type="text" placeholder="Project Title*" ng-model="Proj.proj_name" required></span></div>


        <div class='contactName'><span class='contactFirstName'><input class='addProjAll name inputPadding' type="text" placeholder="Main Project*" ng-model="Proj.main_proj" required></span>
            <input class='addProjAll name inputPadding' type="integer" placeholder="Budget*" ng-model="Proj.budget" required></div>

        <div class='contactName'><span class='contactFirstName'><input class='addProjAll name inputPadding' type="text" placeholder="Type*" ng-model="Proj.type" required></span>
            <input class='addProjAll name inputPadding' type="integer" placeholder="Units*" ng-model="Proj.units" required></div>

        <div><textarea placeholder="Short Desc for Project List...*" class="addProjAll addProjectShortArea inputPadding inputTextArea" rows="2" cols="40" ng-model="Proj.short_desc" required></textarea></div>        

    </div>



    <div class='mainLongDescBox'>
        <div class='longDescBox'>
                <textarea placeholder="Long Description for Single Project Page...*" class="addProjAll addProjectLongArea inputPadding inputTextArea" rows="11" cols="10" ng-model="Proj.long_desc" required></textarea>
        </div>

        <div>
            <br>
        </div>
    </div>

    <div class='addSubmit'>
        <button type="submit" class="sideMargin homeButton" ng-click="submitWhole(Proj, image)">SUBMIT</button>
    </div>

</div>