<div class='mainAddProjectBox'>
    <div class='addTitle'><div>Add your new Project!</div></div>

<form>

    <div>

        <input ng-model="project.first" type='text'  placeholder="First Name" class='addInput'/>  
        <input ng-model="project.last" type='text'  placeholder="Last Name" class='addInput'/>
        
    </div>
    
    


<div>-</div>

    <div>

            <input ng-model="project.company" type='text'  placeholder="Company Name" class='addInput'>
            <input ng-model="project.shortDesc" type='text'  placeholder="Short Description" class='addInput'>

    </div>

        <div>-</div>

    <div>

            <input ng-model="project.units" type='integer'  placeholder="Number of Units" class='addInput'>
            <input ng-model="project.type" type='text'  placeholder="Type" class='addInput'>

    </div>

    <button type="submit" class="myButton" ng-click="addProject(project)" >SUBMIT</button>
</form>

<form name="form">
    <img style="width: 300px;" ngf-thumbnail="image">
    <button name="image" ngf-select ng-model="image">Upload image</button>
    <button ng-click="submit(image)">Submit</button>
</form>

        <!-- <div>-</div>

    <div>

            <input ng-model="budget" type='integer'  placeholder="Budget" class='addInput'>
            <input ng-model="long_desc" type='text'  placeholder="Long Description" class='addInput'>

    </div>

   
    
</div>