
body {
    margin: 0;
    padding: 0;
    font-family: 'open sans'
  }


hr {
    width:95%;
}

/*********** IMAGES Margin padding*/



.logoImg{
    max-height: 100%;
}

.mainLogoBox{
    margin-left:5%
}

.marginleft3{
    margin-left: 3%;
}

.paddingTop{
    padding-top: 2%;
}

.paddingBottom{
    padding-bottom: 1%;
}

.logoBox{
    height:120px;
    
}

.cabImg{
    
    width: 100%;
    height: 100%

}

.paddingTopBot{
   margin-top: 2%;
   margin-bottom: 2%;
}

/* .cabImgBox{
    
    width: 100%
} */

.mainHomeImgBox{
    margin: 0;
    padding: 0;
}

.projectListImgBox{
    height: 240px;
    width: 280px;
    margin-top:1%;
    margin-bottom:1%;
    padding-left:5%;
}

.googleMarker{
    height:25px;
    width:25px;

}

.hammerIcon{
    height:15px;
    width:15px;

}





































/******************************* FOOTERDIR */

.footerGroup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #606469;
    color: white;
}

.numberFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.mainFooterBox{
    /* position: absolute; */
    /* background: #606469; */
    /* float: bottom; */
    
}

.copyRight {
    font-size: 10px;
}

/* .left {
    margin-left: 1%;
}

.right {
    margin-right: 1%;
} */

/* .number {
    font-size: px;
} */

/*****************************************/
/* Below is for the Navigation Bar */

.itemBox {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}


.linkListBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right:4%;
}

.navList{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #CCCFDC;
    margin: 7px;
    font-size: 14px;
    
}




/* .mainNavBox {
    border-bottom: 2px solid #7BEBFF;
} */
  
/* .navList:hover {
    text-decoration: underline;
    color: #F7B369
    
} */

a:visited { 
    text-decoration: none;
    color: #929FAF
    }

a:link {
    text-decoration: none;
    color: #929FAF
}

a:hover {
    color: #f7b369;
}





/*****************************************/
/* Below is for the main HOME Page */

.mainTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigTitle {
    color: #f7b369;
    margin-top:5%;
    margin-right:10%;
    margin-left:10%;
    font-size:25px;
   
    
    

}

.bigTitle h1 {
    vertical-align: middle; 
    text-align: center; 
    font-weight: lighter;
    letter-spacing: .15em;
    line-height: 55px;
}

.paraMain {
    margin-left:10%;
    margin-right:10%;
    letter-spacing: 2px;
    color: #606469;
    font-size: 1.125rem;
}

.paraMain p {
    vertical-align: middle; 
    text-align: center; 
}

.buttonBox {
    padding: 25px;
    display: flex;
    justify-content: center;
    
}

.orangeSpan {
        /* margin-left: 40%; */

        background-color: black;
        height: 3px;
        width: 20%;
        margin-top:3%;
        margin-bottom: 5%
    
}

.spanBox{
    display: flex;
    justify-content: center;
}


.homeQuoteBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7b369;
    color:white;
}

.homeQuote{
    margin-top: 10%;
    font-size: 25px;

}

.nameQuote{
    font-size: 1rem;
    
    margin-bottom:10%; 

}

.quote{
    vertical-align: middle; 
    text-align: center;
    letter-spacing: 2px;
}


.mainInfoTextBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

}

.mainInfoTextBox2{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.infoTextBox{
    margin-left: 10%;
    margin-right: 3%

}

.mainInfoImgBox{
    margin-right:10%;
}



.bigInfoText{
    letter-spacing: 4px;
    color: #f7b369;
    font-weight: bold;
    
}

.smallInfoText{
    letter-spacing: 2px;
    vertical-align: left; 
    text-align: left;
    font-size: 16px;
    color: #606469;
}

.subscription{
    margin-bottom:2%;
}

.subbutton{
    margin-top:2%;
}

.contactUsMainBox{
    background-color: #f7b369;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}


.contactUsTitle {
    margin-bottom: 5%;

}

.contactName{
    margin-bottom:2%;
}

.contactEmail{
    margin-bottom:2%;
    width: 100%;
}



.contactFirstName{
    margin-right: 3%;
}


textarea{
    width: 100%;
    resize: none;
}

.inputPadding{
    padding: 10px 8px;
}

.inputTextArea{
    text-align: left;
}

.addProjectShortArea{
    width: 50%
}

.addProjectLongArea {
    width: 98%
}


.recentProjects{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: underline;
}








/*************************** Home Page Button */



.homeButton {
    margin-top: 4%;
    margin-bottom:5%;
    
	background:    #63BFD8;
    border:        3px solid #63BFD8;
    border-radius: 25px;
    padding:       10px 27px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 30px/1 "Open Sans", sans-serif;
    text-align:    center;
    letter-spacing: 1px;
    /* text-shadow:   1px 1px #666666; */
}
.homeButton:hover {
    background-color:white;
    color: #7C8B9E;
}

.homeButton2:hover{
    background-color: #606469;
    color: white;
}
.homeButton:active {
	position:relative;
	top:1px;
}

.homeButtonBox{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.managerButtonBox{
    margin-right: 10%;
}



.learnMore{
    font-size: 20px;
}

.contactUsButton{
    font-size: 15px;
    padding: 10px 10px;
    background: white;
    color: #f7b369;
    border: 2px solid #f7b369;
    float: right;
}

.contactUsButton:hover {
    background-color: #f7b369;
    color: white;
    border: 2px solid white;
}

.contactUsBox{
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
}

.footerHover {
    font-size: 15px;
    padding: 10px 10px;
    background: white;
    color: #f7b369;
    border: 2px solid #f7b369;
    float: right;
}

.footerHover:hover {
    background-color: #606469;

}



/*****************************************/
/* ADD PROJECT button */

.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#7bebff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* Needs a Better Font */
	font-size:24px;
	font-weight:bold;
	padding:19px 63px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background-color:#353535;
    color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}


.projectTitle {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-size: 20px;
}

.boldProject {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif
}



/***********************************************************************************************/
/* DELETE BUTTON for most things*/


.deleteButton {
    float: right;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#7bebff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.deleteButton:hover {
	background-color:#6c7c7c;
}
.deleteButton:active {
	position:relative;
	top:1px;
}





/***********************************************************************************************/

/********************************** BID BUTTON */

.bidButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#7bebff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* Needs a Better Font */
	font-size:24px;
	font-weight:bold;
	padding:9px 63px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.bidButton:hover {
    background-color:#353535;
    color: white;
}
.bidButton:active {
	position:relative;
	top:1px;
}


/********************************************* DELETE BID BUTTON */
.deleteBidButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#A7A7A7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
	/* Needs a Better Font */
	font-size:24px;
	font-weight:bold;
	padding:5px 63px;
	text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin-bottom: 10%;
}
.deleteBidButton:hover {
    background-color: red;
    color: white;
}
.deleteBidButton:active {
	position:relative;
	top:1px;
}



.projectDeleteBox {
    display: flex;
    justify-content: center;
   
}





/************** box for any single project*/

/* .mainViewProjects:hover {
    box-shadow: 2px 5px 10px 1px rgba(255, 136, 0, 0.2);
} */

/* .oneProjectListBox:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} */



.addProjAll{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}






























/*****************************************/
/* Below is for Project List */

.projectBox {
    padding: 5px;
    
}




/******************************************/
/* Below is for the adding a project view */

.addTitle {
    display: flex;
    justify-content: center;
    font-size: 35px;
    /* color: #52BCD6 */
    font-weight: bold;
    margin-bottom: 5%;
}

.addBackgroundColor{
    background-color: #f7b369;
}

.addTopMargin{
    margin-top: 5%
}

.addTopMargin10{
    margin-top: 10%
}

.addTopMargin2{
    margin-top: 2%
}

.addProjectEmail{
    width: 90%;
}

.addProjectShort{
    width:75%
}

.topAddImgBox{
    background-color: #E4E4E4;
    
}
















/*********************** SINGLE PROJECT PAGE */


.singleProjectTitleBox {

    display: flex;
    justify-content: center;
    margin: 15px;

}

.singleProjectCompanyName{

    font-size: 30px;
    color: #f7b369;
    /* font-weight: bold; */
    text-decoration: underline;
    letter-spacing: 1px;

}

.mainImgDivBox{
    border: 2px solid black;
    /* float: left; */
    height: 400px;
    width: 400px;

    
    

    margin-left: 7%;
    margin-right: 5%;
    
}


.singleImgBox{
    margin: auto;
    border: 2px solid black;
    width: 150px;
    height: 150px;


}

.topAddImgBox{

    height: 320px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomAddImgBox{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.test{
    font-size: 60px;
}


.mainInfoDivBox{
    border: 2px solid black;
    height: 400px;
    width: 50%;
    margin-right: 7%;
}

.singleProjectMainBox{
    
}

.singleProjectBigTopBox{

    display: flex;
    
}

.longDescBox{
    
    margin-left: 7%;
    margin-top: 4%;
    margin-right: 7%;
   
}

.secondInfoBox{
    
    margin-left: 7%;
    margin-right: 7%;
    margin-top:4%;
    /* border: 2px solid black;  */
}

.mainInputBidBox{
    display: flex;
    justify-content: center;
}












/**************************************** mySingleProject Bid Collums */

.myProjectBidTitleBox {
    display: flex;
    justify-content: center;
}

.bidTitleBox{
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
}




/**************************************** LOGIN PAGE **********/

.centerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLoginDiv{
    display: flex;
    background-color: #CACDDA;
}

.loginpage{
    width: 50vw;
    margin: 0;
    padding: 0;
}

.loginLogoBox{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    float:left;
    border-right: 1px solid black;
    height: 80vh;
}

.loginPasswordBox{
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
}


.addSubmit{
    display: flex;
    justify-content: center;
}


.sideMargin{
    margin-left: 10%;
    margin-right:10%
}
.topMargin{
    margin-top: 5%;
    margin-bottom:5%
}

.sideMargin5{
    margin-left: 5%;
    margin-right:5%
}

.sideMargin8{
    margin-left: 8%;
    margin-right:8%
}



/********************************* ProjectListList */

.oneProjectListBox{
    display: flex;
}

.centerListTitle{
    /* align-self: center; */
    font-family: bold;
    letter-spacing: 1px;
    font-size:25px;
    color: black;
}

.leftListCom{
    font-size: 14px;
    color: black;

}

.leftShortDesc{
    color: black;
}

.projectListInfoBox{
    width: 64%;
    display: flex;
    flex-direction: column;
    
}
.projectListInfoBox:hover {
    color: orange;
}

.cityState{
    font-family: bold;
    letter-spacing: 1px;
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.boxShadow{
    box-shadow: 1px 10px 20px 4px rgba(0, 0, 0, 0.2);
}

.boxShadow:hover{
    box-shadow: 1px 10px 20px 4px rgba(201, 155, 56, 0.2);
}

.hrMargin{
    margin-top: 1%;
    margin-bottom: 1%;
}




.boldMe{
    font-family: bold;
}




.bidTitleText{
    font-size: 20;
    color: black;
    font-weight: bold;
}

/****************************************     Responsive         */
@media (max-width: 360px){
    .navList {
        display: none;
    }
}

