
body {
    margin: 0;
    padding: 0;
  }



/*****************************************/
/* Below is for the Navigation Bar */

.itemBox {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom:10px;
    letter-spacing: 1px;
    
   
    
}


.mainNavBox {
    border-bottom: 2px solid #7BEBFF;
}
  
.navList:hover {
    text-decoration: underline;
    text-decoration-color: #EFEFEF;
    
}

a:visited { 
    text-decoration: none;
    color:#000000;
    }

a:link {
    text-decoration: none;
    color: black;
}



/*****************************************/
/* Below is for the main HOME Page */

.mainTitle {
    color: #353535;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-bottom: 2px solid #7BEBFF;
    background-color: #7BEBFF;
}

.buttonBox {
    padding: 25px;
    display: flex;
    justify-content: center;
    
}

/*****************************************/
/* ADD PROJECT button */

.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#7bebff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* Needs a Better Font */
	font-size:24px;
	font-weight:bold;
	padding:19px 63px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background-color:#353535;
    color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}



.projectTitle {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-size: 20px;
}

.boldProject {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif
}



/***********************************************************************************************/
/* DELETE BUTTON for most things*/


.deleteButton {
    float: right;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#7bebff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 6px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.deleteButton:hover {
	background-color:#6c7c7c;
}
.deleteButton:active {
	position:relative;
	top:1px;
}





/***********************************************************************************************/

/********************************** BID BUTTON */

.bidButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#7bebff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* Needs a Better Font */
	font-size:24px;
	font-weight:bold;
	padding:9px 63px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.bidButton:hover {
    background-color:#353535;
    color: white;
}
.bidButton:active {
	position:relative;
	top:1px;
}


/********************************************* DELETE BID BUTTON */
.deleteBidButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color:#A7A7A7;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
    color:#ffffff;
	/* Needs a Better Font */
	font-size:24px;
	font-weight:bold;
	padding:5px 63px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.deleteBidButton:hover {
    background-color: red;
    color: white;
}
.deleteBidButton:active {
	position:relative;
	top:1px;
}



.projectDeleteBox {
    display: flex;
    justify-content: center;
}





/************** box for any single project*/

.mainViewProjects:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}






/*****************************************/
/* Below is for Project List */

.projectBox {
    padding: 5px;
    
}




/******************************************/
/* Below is for the adding a project view */

.addTitle {
    display: flex;
    justify-content: center;
}



/*********************** SINGLE PROJECT PAGE */


.singleProjectTitleBox {

    display: flex;
    justify-content: center;
    margin: 15px;

}

.singleProjectCompanyName{

    font-size: 30px;
    /* font-weight: bold; */

}

.mainImgDivBox{
    border: 2px solid black;
    /* float: left; */
    height: 400px;
    width: 400px;

    display: flex;
    flex-wrap: wrap;

    margin-left: 7%;
    margin-right: 5%;
    
}

.singleImgBox{
    margin: auto;
    border: 2px solid black;
    width: 150px;
    height: 150px;


}

.imgbox{



}



.test{
    font-size: 60px;
}


.mainInfoDivBox{
    border: 2px solid black;
    height: 400px;
    width: 50%;
    margin-right: 7%;
}

.singleProjectMainBox{
    
}

.singleProjectBigTopBox{

    display: flex;
    
}

.longDescBox{
    border: 2px solid black;
    margin-left: 7%;
    margin-top: 4%;
    margin-right: 7%;
    height: 200px;
}

.secondInfoBox{
    
    margin-left: 7%;
    margin-right: 7%;
    margin-top:4%;
    border: 2px solid black; 
}

.mainInputBidBox{
    display: flex;
    justify-content: center;
}

/**************************************** mySingleProject Bid Collums */

.myProjectBidTitleBox {
    display: flex;
    justify-content: center;
}

.bidTitleBox{
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
}

/****************************************     Responsive         */
@media (max-width: 360px){
    .navList {
        display: none;
    }
}