<div class='singleProjectMainBox'>
        
    
        <div class='singleProjectTitleBox'>
            
            <div class='singleProjectCompanyName'>
                {{proj.projectid}}
                
            </div>
        </div>
    
    <div class='singleProjectBigTopBox'>    

        <div class="mainImgDivBox">

                <div class="placeHolderImg">

                     <div class='topAddImgBox'>
                        <img ng-src="{{proj.image_url}}" class='cabImg'>
                     </div>

                </div>

        </div>
        
        <div class='mainInfoDivBox'>
            <div class='test'>
                hello
                {{proj.first_name}}
                {{proj.last_name}}
            </div>
        </div>
    </div>    


        <div class='secondInfoBox'>
            <div class='test'>
                2nd info box
            </div>
        </div>



        <div class='mainLongDescBox'>
            <div class='test longDescBox'>
                Description Box
            </div>

            <div>
                <br>
            </div>
        </div>    



    <hr>
        <form>
                    <div class="mainInputBidBox">
            
                <div>
                        <input ng-model="bid.myBid" type='text'  placeholder="Bid" class='addInput' required/>  
                        <input ng-model="bid.company" type='text'  placeholder="Company Name" class='addInput' required/>
                </div>
                
                <div>
                        <button type="submit" class="bidButton" ng-click="addBid(bid, proj)" >Add Bid</button>
                </div>

                    </div>

        </form>    
</div>