
<div class='mainAddProjectBox'>


    <div class='singleProjectTitleBox'>

        <div class='addTitle '>
            <div>{{proj.com_name}} - {{proj.projectid}}</div>
        </div>
    </div>

    <div class='singleProjectBigTopBox'>

        <div class="centerCenter mainImgDivBox">

            <div class='topAddImgBox'>
                <img ng-src="{{proj.image_url}}" class='cabImg'>
            </div>

        </div>

        <div class='mainInfoDivBox'>
            <div class='recentProjects centerCenter'>Contact Info </div>
            <div class='addTopMargin namesBox'>
                <div class='contactName'>
                    <span class='contactFirstName'>Name: {{proj.first_name}} {{proj.last_name}}</span>
                </div>

            </div>

            <div>Email: <img class="hammerIcon" ng-src='./src/img/email.jpg'/> {{proj.email}}</div>
            <br>
            <div>Company Name: <img class="hammerIcon" ng-src='./src/img/black_house.png'/> {{proj.com_name}}</div>
            <br>


            <div>Project Address:<img class="googleMarker" ng-src='./src/img/googlemap_marker.png'/>{{proj.proj_address}}</div>

            <div class='namesBox'>
                <div class='contactName'>{{proj.city}},&nbsp{{proj.state}}</span>&nbsp&nbsp&nbsp&nbsp Zip Code: {{proj.zip}}</div>

            </div>

            <!-- <div><input class='addTopMargin addProjectEmail contactEmail inputPadding' type="text" placeholder="Project Address*" required></div>
                    
                                <div class='namesBox'>
                                    <div class='contactName'><span class='contactFirstName'><input class='name inputPadding' type="text" placeholder="State*" required></span>
                                    <input class='name inputPadding' type="text" placeholder="Zip Code*" required></div>
                    
                                </div> -->

        </div>
    </div>


    <div class='secondInfoBox'>
        <div class='addTitle'>
            Project Info
        </div>
        <div class='contactName'>
            <span class='contactFirstName'>Main Project: <img class="hammerIcon" ng-src='./src/img/hammer_icon.png'/>{{proj.main_proj}}</span>
            Budget: <img class="hammerIcon" ng-src='./src/img/moneypng.png'/>{{proj.budget}}</div>

        <div class='contactName '>
            <span class='contactFirstName'>Type:{{proj.type}}</span>
            Number of Units: <img class="hammerIcon" ng-src='./src/img/key2.png'/>{{proj.units}}</div>

        <div>Short Description: {{proj.short_desc}}</div>

    </div>



    <div class='mainLongDescBox'>
        <div class='longDescBox'>
            Long Description: {{proj.long_desc}}
        </div>

        <div>
            <br>
        </div>
    </div>














    <hr>
    <form>
        
            
            <div class="border-main-input-box">  
                    <div class="margin-fix"> 
                        <div class='contactName'>
                            <span class='contactFirstName'>
                                <input ng-model="bid.bidname" type='text' placeholder="Bid Name" class='addProjAll addProjectShortArea name inputPadding' required/>
                            </span>
                        </div>
                
                
                        <div class='contactName'>
                            <span class='contactFirstName'>
                                <input ng-model="bid.myBid" type='text' placeholder="Bid" class='addProjAll name inputPadding' required/>
                            </span>
                                <input ng-model="bid.company" type='text' placeholder="Company Name" class='addProjAll name inputPadding' required/>    
                        </div>
                
                        <div class='contactName'>
                            <span class='contactFirstName'>
                                <input ng-model="bid.name" type='text' placeholder="Name" class='addProjAll name inputPadding' required/>
                            </span>
                                <input ng-model="bid.email" type='text' placeholder="Email" class='addProjAll name inputPadding' required/>
                        </div>
                
                    </div>         
                
                    

                <div class='centerCenter margin-bot-2'>
                    <button type="submit" class="bidButton" ng-click="addBid(bid, proj)" ui-sref='myBids'>Add Bid</button>
                </div>

            </div>  



        

    </form>

   
</div>