<div>
    <h3>Hey this is the login page</h3>

    <form>
        <label for="username">Username</label>
        <input type="text" name="username" ng-model="log.username" required>
        <div>
            <div>
                Enter Username
            </div>
        </div>

        <label for="password">Password</label>
        <input type="password" name="password" ng-model="log.password" required>
        <div>
            Enter Password
        </div>

        <button ui-sref="register">Register</button>
        <button type="submit" class="" ng-click="login(log)">Log In</button>
    </form>


</div>