<div>
    <h3>Hey this is the login page</h3>

    <form>
        <label for="username">Username</label>
        <input type="text" name="username" ng-model="username" required >
        <div ng-messages="loginForm.username.$error">
            <div ng-message="required">
                Please enter a username.
            </div>
        </div>

        <label for="password">Password</label>
        <input type="password" name="password" ng-model="password" required>
        <div ng-messages="loginForm.password.$error">
            
        </div>
        
        <button ui-sref="register">Register</md-button>
        <button type="submit" class="" ng-click="requestLogin()" >Log In</button>
    </form>    
      
        
</div>

