
<div>
    <div class='centerCenter singleProjectCompanyName'>Project List</div>
    
</div>
<div class="topMargin mainProjectBox">

    

    <div class="mainViewProjects" ng-repeat="project in projects | orderBy: 'projectid':true ">
        <!-- <a href="" class="deleteButton" ng-click="deleteProject(project)">X</a> -->

        <a class='projectListHover' ui-sref="singleProject({id:project.projectid})">


            <div class='sideMargin6  boxShadow oneProjectListBox'>
                <div class='projectListImgBox'>
                    <img class="cabImg" ng-src="{{project.image_url}}">
                </div>

                <div class='marginleft3 projectListInfoBox'>

                    <div class='centerListTitle paddingTop'>{{project.proj_name}}</div>
                    <div class='leftListCom'>  &nbsp&nbsp  by: {{project.com_name}}</div>
                    <div><br></div>
                    <div class='leftShortDesc'>{{project.short_desc}}</div>
                    <div><br></div>
                    
                    <div ><p class='cityState'><img class="googleMarker" ng-src='./src/img/googlemap_marker.png'/>{{project.city}}, {{project.state}} &nbsp&nbsp <img class="hammerIcon" ng-src='./src/img/hammer_icon.png'/> {{project.main_proj}}</p></div>
                    <div class='paddingBottom leftShortDesc'>Units: <img class="hammerIcon" ng-src='./src/img/key2.png'/>{{project.units}} &nbsp&nbsp&nbsp&nbsp  Budget: <img class="hammerIcon" ng-src='./src/img/moneypng.png'/>{{project.budget}} </div>
                </div>
            </div>    

        </a>
        <hr class='hrMargin'>

        <!-- <div>
        <img src="{{images.image_url}}" />
    </div> -->

</div>