<div class="wholeMainBox">

    <div class="mainTitle">
        <div class='bigTitle'>
            <h1>WE ADDED INNOVATION TO RENOVATION</h1>
        </div>    


        <div class='orangeSpan'>
          <span class='orangeBar'></span>
        </div>  

        <div class='paraMain'>
            <p>reVamping you projects just became a whole lot easier, easy to add projects, easy to make bids. reVamp provides you with everything you need to get your projects finished one at a time, from appliances to roofing.</p>
        </div>    

        <div class='paraMain'>
            <p>This is the place for both managers and contractors. With the long list of projects, you contractors will not have a problem finding a job to bid on. Every aspect of building, renovating, or maintaing a multi-family home is here on reVamp</p>
        </div>   
    
    </div>




    
    <div class="buttonBox"> <a ui-sref="addProject" class="myButton">Add Project</a></div>
    
    <div class='projectTitle'>Most Recent Projects</div>

<div>
            
    <div class="mainViewProjects" ng-repeat="project in projects | orderBy: 'projectid':true |limitTo:4">
                        
            <a href="" class="deleteButton" ng-click="deleteProject(project)">X</a>

                 <a ui-sref="singleProject({id:project.projectid})">

            <div class="boldProject" ng-click="">
                {{project.com_name}} 
            </div>

            <div ng-click=""> 
                Units: {{project.units}} - Budget: {{project.budget}} 
            </div>
            
            <div ng-click="">
                Desc: {{project.short_desc}}
            </div> 
         </a>

         
         <hr>

    </div>
</div>

   
        
   
</div>