<div class="wholeMainBox">

    <div class="mainTitle">
        <div class='bigTitle'>
            <h1>WE ADDED INNOVATION TO RENOVATION</h1>
        </div>

        <div class='spanBox'>
            <div class='orangeSpan'>
                <span class='orangeBar'></span>
            </div>
        </div>

        <div class='paraMain'>
            <p>reVamping you projects just became a whole lot easier, easy to add projects, easy to make bids. reVamp provides
                you with everything you need to get your projects finished one at a time, from tiles to roofing.</p>
        </div>

        <div class='paraMain'>
            <p>This is the place for both managers and contractors. With the long list of projects, you contractors will not
                have a problem finding a job to bid on. Every aspect of building, renovating, or maintaing a multi-family
                home is here on reVamp</p>
        </div>

    </div>


    <div class="homeButtonBox"> <button class='homeButton' ui-sref="addProject">Add a Project</button><button class='homeButton homebidbutton' ui-sref="projects">Place a Bid</button></div>


        <div class='centerCenter'><div class='recentProjects'>   Recent Projects</div></div>
        <br>



    <div class="mainViewProjects" ng-repeat="project in projects | orderBy: 'projectid':true | limitTo:2 ">
            
     
             <a class='projectListHover' ui-sref="mySingleProject({id:project.projectid})">
     
     
                 <div class='sideMargin  boxShadow oneProjectListBox'>
                     <div class='projectListImgBox'>
                         <img class="cabImg" ng-src="{{project.image_url}}">
                     </div>
     
                     <div class='marginleft3 projectListInfoBox'>
     
                         <div class='centerListTitle paddingTop'>{{project.proj_name}}</div>
                         <div class='leftListCom'>  &nbsp&nbsp  by: {{project.com_name}}</div>
                         <div><br></div>
                         <div class='leftShortDesc'>{{project.short_desc}}</div>
                         <div><br></div>
                         
                         <div ><p class='cityState'><img class="googleMarker" ng-src='./src/img/googlemap_marker.png'/>{{project.city}}, {{project.state}} &nbsp&nbsp <img class="hammerIcon" ng-src='./src/img/hammer_icon.png'/> {{project.main_proj}}</p></div>
                         <div class='paddingBottom leftShortDesc'>Units: <img class="hammerIcon" ng-src='./src/img/key2.png'/>{{project.units}} &nbsp&nbsp&nbsp&nbsp  Budget: <img class="hammerIcon" ng-src='./src/img/moneypng.png'/>{{project.budget}} </div>
                     </div>
                 </div>    
     
             </a>
             <hr class='hrMargin'>
     
         </div> 





    <div class='mainHomeImgBox'>
        <div class='cabImgBox'>
            <img class='cabImg' src="./src/img/Homepage-image.jpg" alt="">
            <!-- <img  class='cabImg' src="./src/img/Houston-skyline-1.jpg" alt=""> -->
        </div>
    </div>

    <div class='homeQuoteBox'>
        <div class='homeQuote sideMargin topMargin quote'>
            "By far reVamp provided a better expierence posting projects and getting bids. This is my only way I get Bids now - absolutely
            perfect!"
        </div>
        <div class='nameQuote sideMargin quote'>
            Buck Buchanan, Regional Property Manager Silsbee Property Management
        </div>
    </div>

    <div>
        <div class='mainInfoTextBox2'>
            <div class='infoTextBox topMargin sideMargin5'>
                <p class="learnMoreInfo bigInfoText homeQuote">HASSLE-FREE BIDDING</p>
                <p class="learnMoreInfo smallInfoText nameQuote">A job well done doesn’t have to be complicated. Let reVamp help you get the work you need.</p>
                <button class='homeButton learnMore' ui-sref="contractors">Learn More</button>
            </div>
            <div class='mainInfoImgBox topMargin'>
                <div class='textImgBox'>
                    <img src="./src/img/roofing.jpg" alt="">
                </div>
            </div>

        </div>



        <div class=' mainInfoTextBox'>

            <div class='infoTextBox topMargin'>
                <div class='textImgBox'>
                    <img src="./src/img/tiling.jpg" alt="">
                </div>
            </div>
            <div class=' topMargin sideMargin5 mainInfoImgBox'>
                <p class="learnMoreInfo bigInfoText homeQuote">EASY TO SUBMIT PROJECTS</p>
                <p class="learnMoreInfo smallInfoText nameQuote">Finding someone to do work on your property with ease. Let us show you how to post.</p>
                <button class='learnMore homeButton' ui-sref="managers">Learn More</button>
                
            </div>
        </div>

    </div>


    <hr>

    <div class='mainInfoTextBox'>
        <div class=''>
            <p class="learnMoreInfo bigInfoText homeQuote">MONTHLY SUBSCRIPTION</p>
            <p class="subscription learnMoreInfo smallInfoText nameQuote ">List or Bid on all the projects you need. No Fees on top of the Subscription.</p>
            <!-- <form action="/charge" method="POST"> 
                <script 
                src="https://checkout.stripe.com/checkout.js" class="learnMore subbutton homeButton"
                
                data-key="pk_test_mfMDbJXgrrKr07MkBlj7pXan"
                data-amount="100"
                data-name="subscription"
                data-description="this is for subscribing to revamp"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="usd"
                >
                    
                </script>

            </form> -->


            <button class='learnMore subbutton homeButton' ng-click="stripe()">Subscribe</button>

            <!-- class='learnMore subbutton homeButton' -->

        </div>
    </div>


    <div class='contactUsMainBox '>
        <div class='contactUsBox topMargin'>
            <div class='contactUsTitle inputPadding'>Hire me! All you have to do is email me now</div>
            <form action="">
                <div class='namesBox'>
                    <div class='contactName'><span class='contactFirstName'><input class='name inputPadding' type="text" placeholder="First Name*" required></span>
                        <input
                            class='name inputPadding' type="text" placeholder="Last Name*" required></div>

                </div>

                <div><input class='contactEmail inputPadding' type="text" placeholder="Email*" required></div>
                <div><textarea placeholder="Please contact me anytime..." class="inputPadding inputTextArea" rows="10" cols="80"  required></textarea></div>
                <button class='contactUsButton subbutton homeButton learnMoreRight' href="#scrollHome">Contact Me</button>
            </form>
        </div>
    </div>




</div>